{# <!DOCTYPE html>
<html>
<head>
<meta name="description" content="Phaser.js game demo" />
  <meta charset="utf-8">
  <title>Phaser.js game demo</title>
  <link rel="stylesheet" href="../assets/css/htmlGaming.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/phaser/2.0.5/phaser.min.js" type="text/javascript"></script>
</head> #}


{% extends 'base.html.twig' %}

{% block body %}

<div class="game">

  {% include "common/_backToTheMenu.html.twig" %}

  <audio id="audioMusic" class="audio" loop src="{{asset('assets/gameEpitech/assetsGame/audios/musics/victory.mp3')}}"></audio>
  <audio id="audioAmbiance" class="audio" loop src="{{asset('assets/gameEpitech/assetsGame/audios/ambiances/combats.mp3')}}"></audio>
  <audio id="audioMusicDeath" class="audio" loop src="{{asset('assets/gameEpitech/assetsGame/audios/musics/defeat.mp3')}}"></audio>
  {# <!-- <audio id="audioMusicMenu" class="audio" loop src="{{asset('assets/gameEpitech/assetsGame/audios/musics/menu.mp3')}}"></audio> --> #}

  <audio id="audioDeath" class="audio" src="{{asset('assets/gameEpitech/assetsGame/audios/death/phrase_qui_tue.wav')}}"></audio>
  <audio id="audioShoot2" class="audio" src="{{asset('assets/gameEpitech/assetsGame/audios/sounds/mp3/tirFleche2.wav')}}"></audio>
  <audio id="audioShoot3" class="audio" loop src="{{asset('assets/gameEpitech/assetsGame/audios/sounds/mp3/tirFleche3.mp3')}}"></audio>
  <audio id="audioShootBoss" class="audio" src="{{asset('assets/gameEpitech/assetsGame/audios/sounds/mp3/tirBoss.mp3')}}"></audio>
  <audio id="audioLifeDown" class="audio" src="{{asset('assets/gameEpitech/assetsGame/audios/sounds/mp3/viePerdue.mp3')}}"></audio>
  <audio id="audioHitEnnemie" class="audio" src="{{asset('assets/gameEpitech/assetsGame/audios/sounds/mp3/cibleTouchee.mp3')}}"></audio>

  <div class="interface">
    <div class="col">
      <div class="row">
        <div id="imagePlayer" class="col-3 text-start"></div>
        <div id="infosCharacter" class="col-6 infosCharacter">
          <img alt="colonne de feu" height="120" width=50 src="{{asset('assets/gameEpitech/assetsGame/images/cinema/colonneFeu.gif')}}">
          <div id="cinema">
            <img alt="gifs cinema" height="120" width=200 src="{{asset('assets/gameEpitech/assetsGame/images/cinema/metalleux1.gif')}}">   
          </div>
          <img alt="colonne de feu" height="120" width=50 src="{{asset('assets/gameEpitech/assetsGame/images/cinema/colonneFeu.gif')}}">
        </div>
        <div class="col-3 text-end">
          <img alt="player" height="120" src="{{asset('assets/gameEpitech/assetsGame/images/players/orcsOrigine.png')}}">
        </div>
      </div>
    </div>
  </div>
  {# <script src="gameEpitech.js" type="text/javascript"></script> #}
  {% include "gameEpitech/game/_scriptsEpitech.html.twig" %}
</div>

{% endblock %}